<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    title Document
  body
    h1 "Happy!"
    p Outer Paragraph
      .foo A div with a class of foo
    h2 Let's do some math! #{number + 5}
